<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <header>
            <p>Layout Header</p>
        </header>
        @RenderBody()
        <footer>
            <p>Layout Footer</p>
        </footer>
    </div>
</body>
</html>
